<template>
  <div>
    <v-app-bar color="verde">
      <v-img src="@/assets/logo.png" max-width="50" max-height="50"></v-img>
      <v-spacer></v-spacer>
      <v-btn class="btn-all" color="amarillo" @click="goLogin"> Login Radios </v-btn>
    </v-app-bar>
  </div>
</template>
<style lang="scss">


</style>

<script>
export default {
  name: "Home",
  methods:{
    goLogin(){
      this.$router.push("/login");
    }
  }
};
</script>
