<template>
  <div class="big-father">
    <div class="drawer-cont">
      <v-card class="drawer-card">
        <v-navigation-drawer permanent>
          <div class="radio-description">
            <div>
              <img :src="radio.img" :alt="radio.name" />
            </div>
            <div class="radio-title-cont">
              <h1>{{ radio.name }}</h1>
              <h2>{{ radio.dial }}</h2>
            </div>
          </div>

          <v-divider></v-divider>

          <v-list nav dense>
            <v-list-item link @click="setNav('la-radio')">
              <v-list-item-icon>
                <v-icon color="amarillo">mdi-account-details-outline</v-icon>
              </v-list-item-icon>
              <v-list-item-title>La Radio</v-list-item-title>
            </v-list-item>
            <v-list-item link @click="setNav('publicaciones')">
              <v-list-item-icon>
                <v-icon color="amarillo"
                  >mdi-newspaper-variant-multiple-outline</v-icon
                >
              </v-list-item-icon>
              <v-list-item-title>Publicaciones</v-list-item-title>
            </v-list-item>
            <v-list-item link @click="setNav('sorteos')">
              <v-list-item-icon>
                <v-icon color="amarillo">mdi-controller-classic</v-icon>
              </v-list-item-icon>
              <v-list-item-title>Sorteos</v-list-item-title>
            </v-list-item>

            <v-list-item link @click="setNav('horarios')">
              <v-list-item-icon>
                <v-icon color="amarillo">mdi-clock-time-eight-outline</v-icon>
              </v-list-item-icon>
              <v-list-item-title>Horarios</v-list-item-title>
            </v-list-item>
            <v-list-item link @click="setNav('mensajes')">
              <v-list-item-icon>
                <v-icon color="amarillo">mdi-email-variant</v-icon>
              </v-list-item-icon>
              <v-list-item-title>Mensajes</v-list-item-title>
            </v-list-item>
            <v-list-item link @click="goOut">
              <v-list-item-icon>
                <v-icon color="amarillo">mdi-exit-to-app</v-icon>
              </v-list-item-icon>
              <v-list-item-title>Cerrar sesión</v-list-item-title>
            </v-list-item>
          </v-list>
        </v-navigation-drawer>
      </v-card>
      <v-card class="flex-1 current">
        <div v-if="current == ''"></div>
        <div v-else>
          <h1 class="sec-title">{{ getSectionTitle() }}</h1>
          <div v-if="current == 'horarios'" class="programacion">
            <v-toolbar color="violeta" flat class="tab-bar-no-header">
              <template v-slot:extension>
                <v-tabs v-model="dia" align-with-title>
                  <v-tabs-slider color="yellow"></v-tabs-slider>

                  <v-tab v-for="diax in dias" :key="diax">
                    <span class="tab-item-title">{{ diax }}</span>
                  </v-tab>
                </v-tabs>
              </template>
            </v-toolbar>
            <v-tabs-items v-model="dia">
              <v-tab-item v-for="diax in dias" :key="diax">
                <div>
                  <div class="unprograma-tarjeta">
                    <div v-if="getDayList().length == 0">
                      <h3 class="empty">
                        Todavía no cargaste horarios en la programación de este
                        día.
                        <span
                          >¡Empezá ya mismo desde el botón Agregar
                          Programa!</span
                        >
                      </h3>
                    </div>
                    <div
                      v-for="programa in getDayList()"
                      :key="programa._id"
                      class="unprograma"
                    >
                      <div class="unprograma-title">
                        <div>
                          <h3>{{ programa.name }}</h3>
                          <p class="programa-desc">{{ programa.desc }}</p>
                        </div>

                        <div>
                          <p style="display: inline-flex">
                            {{ programa.time }}
                            <v-icon color="amarillo" @click="goHome"
                              >mdi-clock-time-five-outline</v-icon
                            >
                          </p>
                          <v-dialog
                            transition="dialog-top-transition"
                            max-width="600"
                          >
                            <template v-slot:activator="{ on, attrs }">
                              <v-btn
                                fab
                                small
                                class="ma-2"
                                color="naranja"
                                dark
                                @click="openEditHorario(programa)"
                                v-bind="attrs"
                                v-on="on"
                              >
                                <v-icon color="white" dark> mdi-pencil </v-icon>
                              </v-btn>
                            </template>
                            <template v-slot:default="dialog">
                              <v-card>
                                <v-toolbar color="violeta" dark
                                  >Editar Programación</v-toolbar
                                >
                                <v-card-text>
                                  <div class="mensajes">
                                    <v-layout
                                      justify-center
                                      class="todo"
                                      v-show="loading"
                                    >
                                      <v-progress-circular
                                        :size="50"
                                        color="violeta"
                                        indeterminate
                                        justify-space-between
                                      ></v-progress-circular>
                                    </v-layout>

                                    <v-alert
                                      v-if="error"
                                      border="top"
                                      color="red lighten-2"
                                      dark
                                      v-show="!loading"
                                    >
                                      {{ error }}
                                    </v-alert>
                                    <v-form
                                      ref="form"
                                      v-model="horarioValid"
                                      class="formlogin"
                                      v-show="!loading"
                                    >
                                      <v-card-text class="padding-v-card-form">
                                        <v-text-field
                                          v-model="horarioEditing.name"
                                          :rules="rules"
                                          label="Nombre del programa *"
                                          placeholder="Furia bebé"
                                          outlined
                                          color="violeta"
                                          class="naranja-text"
                                          @keydown="horarioModificado = true"
                                        ></v-text-field>
                                        <v-text-field
                                          v-model="horarioEditing.time"
                                          :rules="rules"
                                          label="Horario *"
                                          placeholder="06:00 a 10:00"
                                          outlined
                                          color="violeta"
                                          class="naranja-text"
                                          @keydown="horarioModificado = true"
                                        ></v-text-field>
                                        <v-text-field
                                          v-model="horarioEditing.desc"
                                          :rules="rules"
                                          label="Conductores"
                                          outlined
                                          color="violeta"
                                          class="naranja-text"
                                          @keydown="horarioModificado = true"
                                        ></v-text-field>
                                      </v-card-text>
                                      <v-card-text>
                                        <v-layout justify-space-around>
                                          <v-btn
                                            @click="
                                              dialog.value = false;
                                              modifyHorario(horarioEditing._id);
                                            "
                                            :disabled="
                                              !horarioValid ||
                                              !horarioModificado
                                            "
                                            x-large
                                            class="btn-all"
                                            color="amarillo"
                                            >Guardar cambios</v-btn
                                          >
                                          <v-btn
                                            @click="
                                              dialog.value = false;
                                              closeEditingHorario();
                                            "
                                            x-large
                                            class="btn-all-secondary"
                                            color="verde white--text"
                                            >Cancelar</v-btn
                                          >
                                        </v-layout>
                                      </v-card-text>
                                    </v-form>
                                  </div>
                                </v-card-text>
                              </v-card>
                            </template>
                          </v-dialog>

                          <v-dialog
                            transition="dialog-top-transition"
                            max-width="600"
                          >
                            <template v-slot:activator="{ on, attrs }">
                              <v-btn
                                fab
                                small
                                class="ma-2"
                                color="naranja"
                                dark
                                @click="openBorrarHorario(programa)"
                                v-bind="attrs"
                                v-on="on"
                              >
                                <v-icon color="white" dark> mdi-delete </v-icon>
                              </v-btn>
                            </template>
                            <template v-slot:default="dialog">
                              <v-card>
                                <v-toolbar color="violeta" dark
                                  >Eliminar Horario</v-toolbar
                                >
                                <p style="padding: 15px">
                                  ¿Seguro que querés eliminar este horario de la
                                  lista?
                                </p>
                                <v-card-text>
                                  <div class="mensajes">
                                    <v-layout
                                      justify-center
                                      class="todo"
                                      v-show="loading"
                                    >
                                      <v-progress-circular
                                        :size="50"
                                        color="violeta"
                                        indeterminate
                                        justify-space-between
                                      ></v-progress-circular>
                                    </v-layout>

                                    <v-alert
                                      v-if="error"
                                      border="top"
                                      color="red lighten-2"
                                      dark
                                      v-show="!loading"
                                    >
                                      {{ error }}
                                    </v-alert>
                                    <v-form
                                      ref="form"
                                      class="formlogin"
                                      v-show="!loading"
                                    >
                                      <v-card-text padding-v-card-form>
                                        <v-text-field
                                          v-model="horarioDeleting.name"
                                          label="Nombre del programa"
                                          outlined
                                          color="violeta"
                                          class="naranja-text"
                                          disabled
                                        ></v-text-field>
                                        <v-text-field
                                          v-model="horarioDeleting.time"
                                          label="Horario"
                                          outlined
                                          color="violeta"
                                          class="naranja-text"
                                          disabled
                                        ></v-text-field>
                                        <v-text-field
                                          v-model="horarioDeleting.desc"
                                          label="Conductores"
                                          outlined
                                          color="violeta"
                                          class="naranja-text"
                                          disabled
                                        ></v-text-field>
                                      </v-card-text>
                                      <v-card-text>
                                        <v-layout justify-space-around>
                                          <v-btn
                                            @click="
                                              borrarHorario(horarioDeleting._id)
                                            "
                                            x-large
                                            class="btn-all"
                                            color="amarillo"
                                            >Eliminar</v-btn
                                          >
                                          <v-btn
                                            @click="
                                              dialog.value = false;
                                              closeEditingHorario();
                                            "
                                            x-large
                                            class="btn-all-secondary"
                                            color="verde"
                                            >Cancelar</v-btn
                                          >
                                        </v-layout>
                                      </v-card-text>
                                    </v-form>
                                  </div>
                                </v-card-text>
                              </v-card>
                            </template>
                          </v-dialog>
                        </div>
                      </div>
                    </div>
                    <v-dialog
                      transition="dialog-top-transition"
                      max-width="600"
                    >
                      <template v-slot:activator="{ on, attrs }">
                        <v-card-actions>
                          <v-spacer></v-spacer>
                          <v-btn
                            class="btn-all black--text"
                            color="amarillo"
                            x-large
                            right
                            dark
                            @click="openNewHorario"
                            v-bind="attrs"
                            v-on="on"
                          >
                            <v-icon color="violeta" dark> mdi-plus </v-icon>
                            Agregar programa
                          </v-btn>
                        </v-card-actions>
                      </template>
                      <template v-slot:default="dialog">
                        <v-card>
                          <v-toolbar color="violeta" dark
                            >Nuevo Programa</v-toolbar
                          >
                          <v-card-text>
                            <div class="mensajes">
                              <v-layout
                                justify-center
                                class="todo"
                                v-show="loading"
                              >
                                <v-progress-circular
                                  :size="50"
                                  color="violeta"
                                  indeterminate
                                  justify-space-between
                                ></v-progress-circular>
                              </v-layout>

                              <v-alert
                                v-if="error"
                                border="top"
                                color="red lighten-2"
                                dark
                                v-show="!loading"
                              >
                                {{ error }}
                              </v-alert>
                              <v-form
                                ref="form"
                                v-model="newHorarioValid"
                                class="formlogin"
                                v-show="!loading"
                              >
                                <v-card-text class="padding-v-card-form">
                                  <v-text-field
                                    v-model="newHorario.name"
                                    :rules="rules"
                                    label="Nombre del programa *"
                                    placeholder="Furia bebé"
                                    outlined
                                    color="violeta"
                                    class="naranja-text"
                                  ></v-text-field>
                                  <v-text-field
                                    v-model="newHorario.time"
                                    :rules="rules"
                                    label="Horario *"
                                    placeholder="06:00 a 10:00"
                                    outlined
                                    color="violeta"
                                    class="naranja-text"
                                  ></v-text-field>
                                  <v-text-field
                                    v-model="newHorario.desc"
                                    :rules="rules"
                                    label="Conductores"
                                    outlined
                                    color="violeta"
                                    class="naranja-text"
                                  ></v-text-field>
                                </v-card-text>
                                <v-card-text>
                                  <v-layout justify-space-around>
                                    <v-btn
                                      @click="
                                        dialog.value = false;
                                        createHorario();
                                      "
                                      :disabled="!newHorarioValid"
                                      x-large
                                      class="btn-all"
                                      color="amarillo"
                                      >Crear</v-btn
                                    >
                                    <v-btn
                                      @click="
                                        dialog.value = false;
                                        closeNewHorario();
                                      "
                                      x-large
                                      class="btn-all-secondary"
                                      color="verde white--text"
                                      >Cancelar</v-btn
                                    >
                                  </v-layout>
                                </v-card-text>
                              </v-form>
                            </div>
                          </v-card-text>
                        </v-card>
                      </template>
                    </v-dialog>
                  </div>
                </div>
              </v-tab-item>
            </v-tabs-items>
          </div>

          <div v-if="current == 'publicaciones'" class="publicaciones">
            <!-- <input
              type="file"
              id="image-input"
              accept="image/*"
              @change="uploadImage"
            />
            <img id="preview" /> -->
            <div style="background: #6c65aa">
              <v-dialog transition="dialog-top-transition" max-width="600">
                <template v-slot:activator="{ on, attrs }">
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn
                      class="btn-all black--text"
                      color="amarillo"
                      x-large
                      right
                      dark
                      @click="openNewPost"
                      v-bind="attrs"
                      v-on="on"
                    >
                      <v-icon color="violeta" dark> mdi-plus </v-icon>
                      Nueva Publicación
                    </v-btn>
                  </v-card-actions>
                </template>
                <template v-slot:default="dialog">
                  <v-card>
                    <v-toolbar color="violeta" dark
                      >Nueva Publicación</v-toolbar
                    >
                    <v-card-text>
                      <div class="mensajes">
                        <v-layout justify-center class="todo" v-show="loading">
                          <v-progress-circular
                            :size="50"
                            color="violeta"
                            indeterminate
                            justify-space-between
                          ></v-progress-circular>
                        </v-layout>

                        <v-alert
                          v-if="error"
                          border="top"
                          color="red lighten-2"
                          dark
                          v-show="!loading"
                        >
                          {{ error }}
                        </v-alert>

                        <v-form
                          ref="form"
                          v-model="newPublicacionValid"
                          class="formlogin"
                          v-show="!loading"
                          v-if="dialog.value"
                        >
                          <v-card-text class="padding-v-card-form">
                            <v-textarea
                              v-model="newPublicacion.cont"
                              :rules="rules"
                              label="Comentarios de la publicación *"
                              placeholder="El programa de "
                              outlined
                              color="violeta"
                              class="naranja-text"
                            ></v-textarea>
                            <v-file-input
                              :rules="imgRules"
                              accept="image/png, image/jpeg, image/bmp"
                              placeholder="Elegí una imagen"
                              prepend-icon="mdi-camera"
                              label="Imagen"
                              @change="updateImage"
                            ></v-file-input>
                          </v-card-text>
                          <v-card-text>
                            <v-layout justify-space-around>
                              <v-btn
                                @click="
                                  dialog.value = false;
                                  createPublicacion();
                                "
                                :disabled="!newPublicacionValid"
                                x-large
                                class="btn-all"
                                color="amarillo"
                                >Crear</v-btn
                              >
                              <v-btn
                                @click="dialog.value = false"
                                x-large
                                class="btn-all-secondary"
                                color="verde white--text"
                                >Cancelar</v-btn
                              >
                            </v-layout>
                          </v-card-text>
                        </v-form>
                      </div>
                    </v-card-text>
                  </v-card>
                </template>
              </v-dialog>
            </div>

            <div v-for="publi in orderedPosts()" v-bind:key="publi._id">
              <div v-if="publi.tipo == 'post'" class="publi-post">
                <!-- <img :src="require(`../assets/posts/${publi.img}`)" alt="" /> -->
                <img :src="publi.img" alt="" />
                <div class="publi-content">
                  <p class="post-title">
                    <span>{{ radio.name }}</span> {{ publi.cont }}
                  </p>
                  <p class="post-date">{{ publi.time }}</p>
                  <v-dialog transition="dialog-top-transition" max-width="600">
                    <template v-slot:activator="{ on, attrs }">
                      <v-btn
                        fab
                        small
                        class="ma-2"
                        color="naranja"
                        dark
                        @click="openBorrarPost(publi)"
                        v-bind="attrs"
                        v-on="on"
                      >
                        <v-icon color="white" dark> mdi-delete </v-icon>
                      </v-btn>
                    </template>
                    <template v-slot:default="dialog">
                      <v-card>
                        <v-toolbar color="violeta" dark
                          >Eliminar Publicación</v-toolbar
                        >
                        <p style="padding: 15px">
                          ¿Seguro que querés eliminar esta publicación?
                        </p>
                        <v-card-text>
                          <div class="mensajes">
                            <v-card-text>
                              <v-layout justify-space-around>
                                <v-btn
                                  @click="
                                    dialog.value = false;
                                    borrarPubli(publi._id);
                                  "
                                  x-large
                                  class="btn-all"
                                  color="amarillo"
                                  >Eliminar</v-btn
                                >
                                <v-btn
                                  @click="dialog.value = false"
                                  x-large
                                  class="btn-all-secondary"
                                  color="verde"
                                  >Cancelar</v-btn
                                >
                              </v-layout>
                            </v-card-text>
                          </div>
                        </v-card-text>
                      </v-card>
                    </template>
                  </v-dialog>
                </div>
              </div>
              <div v-else class="publi-sorteo">
                {{ radios }}
                <v-layout justify-center class="todo" v-show="publi.loading">
                  <v-progress-circular
                    :size="50"
                    color="violeta"
                    indeterminate
                    justify-space-between
                  ></v-progress-circular>
                </v-layout>
                <v-container fluid v-show="!publi.loading">
                  <v-radio-group v-model="radios">
                    <template v-slot:label>
                      <div>
                        <strong>{{ publi.title }}</strong>
                        <span> {{ publi.text }}</span>
                      </div>
                    </template>
                    <div v-if="!hasPartipated(publi)">
                      <v-radio
                        v-for="option in publi.options"
                        :key="option"
                        :value="option"
                        color="violeta"
                      >
                        <template v-slot:label>
                          <div class="option-label">
                            {{ option }}
                          </div>
                        </template>
                      </v-radio>
                    </div>
                  </v-radio-group>
                  <v-btn
                    class="btn-all"
                    color="amarillo"
                    :disabled="!radios"
                    @click="participarSorteo(publi)"
                    v-if="!hasPartipated(publi)"
                  >
                    Enviar
                  </v-btn>
                  <!-- <v-btn color="amarillo" class="mr-4"> Enviar </v-btn> -->
                  <div v-if="publi.winner == ''">
                    <v-alert
                      v-if="hasPartipated(publi)"
                      dense
                      prominent
                      type="success"
                      >¡Ya estás participando!</v-alert
                    >
                  </div>
                  <div v-else>
                    <v-alert
                      v-if="esGanador(publi)"
                      dense
                      prominent
                      type="success"
                      >¡Felicitaciones, ganaste! Revisá tu correo y seguí las
                      instrucciones
                    </v-alert>
                    <v-alert
                      v-if="!esGanador(publi)"
                      dense
                      prominent
                      type="warning"
                      >El sorteo finalizó, lamentablemente no ganaste. ¡Pero
                      atento, siempre hay más sorteos!</v-alert
                    >
                  </div>
                </v-container>
              </div>
            </div>
          </div>
          <div v-if="current == 'la-radio'" class="programacion">
            <v-dialog transition="dialog-top-transition" max-width="600">
              <template v-slot:activator="{ on, attrs }">
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn
                    class="btn-all black--text"
                    color="amarillo"
                    x-large
                    right
                    dark
                    @click="openEditRadio"
                    v-bind="attrs"
                    v-on="on"
                  >
                    <v-icon color="violeta" dark> mdi-pencil </v-icon>
                    Editar
                  </v-btn>
                </v-card-actions>
              </template>
              <template v-slot:default="dialog">
                <v-card>
                  <v-toolbar color="violeta" dark>Editar</v-toolbar>
                  <v-card-text>
                    <div class="mensajes">
                      <v-layout justify-center class="todo" v-show="loading">
                        <v-progress-circular
                          :size="50"
                          color="violeta"
                          indeterminate
                          justify-space-between
                        ></v-progress-circular>
                      </v-layout>

                      <v-alert
                        v-if="error"
                        border="top"
                        color="red lighten-2"
                        dark
                        v-show="!loading"
                      >
                        {{ error }}
                      </v-alert>

                      <v-form
                        ref="form"
                        v-model="editRadioValid"
                        class="formlogin"
                        v-show="!loading"
                        v-if="dialog.value"
                      >
                        <v-card-text class="padding-v-card-form">
                          <v-text-field
                            v-model="radioEditing.name"
                            :rules="rules"
                            label="Nombre de la radio *"
                            placeholder="Furia bebé"
                            outlined
                            color="violeta"
                            class="naranja-text"
                            @keydown="radioModificado = true"
                          ></v-text-field>
                          <v-text-field
                            v-model="radioEditing.dial"
                            :rules="rules"
                            label="Dial *"
                            placeholder="FM 106.6"
                            outlined
                            color="violeta"
                            class="naranja-text"
                            @keydown="radioModificado = true"
                          ></v-text-field>

                          <v-text-field
                            v-model="radioEditing.twitter"
                            label="Usuario Twitter"
                            outlined
                            color="violeta"
                            class="naranja-text"
                            @keydown="radioModificado = true"
                          ></v-text-field>

                          <v-text-field
                            v-model="radioEditing.facebook"
                            label="Perfil Facebook"
                            outlined
                            color="violeta"
                            class="naranja-text"
                            @keydown="radioModificado = true"
                          ></v-text-field>

                          <v-text-field
                            v-model="radioEditing.ig"
                            label="Usuario Instagram"
                            outlined
                            color="violeta"
                            class="naranja-text"
                            @keydown="radioModificado = true"
                          ></v-text-field>

                          <v-text-field
                            v-model="radioEditing.youtube"
                            label="Link YouTube"
                            outlined
                            color="violeta"
                            class="naranja-text"
                            @keydown="radioModificado = true"
                          ></v-text-field>

                          <!-- <v-file-input
                            accept="image/png, image/jpeg, image/bmp"
                            placeholder="Cambiar Imagen"
                            prepend-icon="mdi-camera"
                            label="Imagen"
                            @change="updateImage"
                          ></v-file-input> -->
                        </v-card-text>
                        <v-card-text>
                          <v-layout justify-space-around>
                            <v-btn
                              @click="
                                dialog.value = false;
                                editRadio();
                              "
                              :disabled="!editRadioValid || !radioModificado"
                              x-large
                              class="btn-all"
                              color="amarillo"
                              >Confirmar edición</v-btn
                            >
                            <v-btn
                              @click="dialog.value = false"
                              x-large
                              class="btn-all-secondary"
                              color="verde white--text"
                              >Cancelar</v-btn
                            >
                          </v-layout>
                        </v-card-text>
                      </v-form>
                    </div>
                  </v-card-text>
                </v-card>
              </template>
            </v-dialog>
            <div class="unprograma-title">
              <div class="lara-item">
                <p class="item-desc">Nombre de la radio</p>
                <h3>{{ radio.name }}</h3>
              </div>
            </div>
            <div class="unprograma-title">
              <div class="lara-item">
                <p class="item-desc">Dial</p>
                <h3>{{ radio.dial }}</h3>
              </div>
            </div>
            <div class="unprograma-title" v-if="radio.twitter">
              <div class="lara-item">
                <p class="item-desc">Usuario Twitter</p>
                <h3>@{{ radio.twitter }}</h3>
              </div>
            </div>
            <div class="unprograma-title" v-if="radio.facebook">
              <div class="lara-item">
                <p class="item-desc">Perfil Facebook</p>
                <h3>{{ radio.facebook }}</h3>
              </div>
            </div>
            <div class="unprograma-title" v-if="radio.ig">
              <div class="lara-item">
                <p class="item-desc">Usuario Instagram</p>
                <h3>@{{ radio.ig }}</h3>
              </div>
            </div>
            <div class="unprograma-title" v-if="radio.youtube">
              <div class="lara-item">
                <p class="item-desc">Link YouTube</p>
                <h3>{{ radio.youtube }}</h3>
              </div>
            </div>
          </div>
          <div v-if="current == 'sorteos'" class="publicaciones">
            <v-dialog transition="dialog-top-transition" max-width="600">
              <template v-slot:activator="{ on, attrs }">
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn
                    class="btn-all black--text"
                    color="amarillo"
                    x-large
                    right
                    dark
                    @click="openNewSorteo"
                    v-bind="attrs"
                    v-on="on"
                  >
                    <v-icon color="violeta" dark> mdi-plus </v-icon>
                    Hacer un sorteo
                  </v-btn>
                </v-card-actions>
              </template>
              <template v-slot:default="dialog">
                <v-card>
                  <v-toolbar color="violeta" dark>Nuevo Sorteo</v-toolbar>
                  <v-card-text>
                    <div class="mensajes">
                      <v-layout justify-center class="todo" v-show="loading">
                        <v-progress-circular
                          :size="50"
                          color="violeta"
                          indeterminate
                          justify-space-between
                        ></v-progress-circular>
                      </v-layout>

                      <v-alert
                        v-if="error"
                        border="top"
                        color="red lighten-2"
                        dark
                        v-show="!loading"
                      >
                        {{ error }}
                      </v-alert>
                      <v-form
                        ref="form"
                        v-model="newSorteoValid"
                        class="formlogin"
                        v-show="!loading"
                        v-if="dialog.value"
                      >
                        <v-card-text class="padding-v-card-form">
                          <v-text-field
                            v-model="newSorteo.title"
                            :rules="rules"
                            label="Descripción del sorteo *"
                            placeholder="Participando de este sorteo podrás ganar..."
                            outlined
                            color="violeta"
                            class="naranja-text"
                          ></v-text-field>
                          <v-text-field
                            v-model="newSorteo.text"
                            :rules="rules"
                            label="Título del sorteo *"
                            placeholder="¿Qué recital te gustó más?"
                            outlined
                            color="violeta"
                            class="naranja-text"
                          ></v-text-field>
                          <v-col>
                            <v-row>
                              <v-text-field
                                v-model="newSorteo.newopt"
                                label="Agregar opcion"
                                outlined
                                color="violeta"
                                class="naranja-text"
                                append-outer-icon="mdi-plus"
                                @click:append-outer="addOpt(newSorteo.newopt)"
                              ></v-text-field>
                            </v-row>
                            <p class="post-title">
                              <span>Opciones: (agregá al menos 2)</span>
                            </p>
                            <p
                              class="post-title"
                              v-for="opt in newSorteo.options"
                              :key="opt"
                            >
                              {{ opt.text }}
                            </p>
                          </v-col>
                        </v-card-text>
                        <v-card-text>
                          <v-layout justify-space-around>
                            <v-btn
                              @click="
                                dialog.value = false;
                                createSorteo();
                              "
                              :disabled="
                                !newSorteoValid || newSorteo.options.length < 2
                              "
                              x-large
                              class="btn-all"
                              color="amarillo"
                              >Crear</v-btn
                            >
                            <v-btn
                              @click="dialog.value = false"
                              x-large
                              class="btn-all-secondary"
                              color="verde white--text"
                              >Cancelar</v-btn
                            >
                          </v-layout>
                        </v-card-text>
                      </v-form>
                    </div>
                  </v-card-text>
                </v-card>
              </template>
            </v-dialog>
            <div v-for="publi in orderedSorteos()" v-bind:key="publi._id">
              <div class="publi-post">
                <v-container fluid v-show="!publi.loading">
                  <div>
                    <p class="post-title">
                      <span>Descripción: </span> {{ publi.title }}
                    </p>
                    <p class="post-title">
                      <span>Título: </span> {{ publi.text }}
                    </p>
                    <!-- <strong>{{ publi.title }}</strong>
                        <span> {{ publi.text }}</span> -->
                  </div>

                  <div>
                    <p class="post-title">
                      <span>Opciones: </span>
                    </p>
                    <p v-for="option in publi.options" :key="option.text">
                      <v-chip class="ma-2" color="amarillo">
                        {{ option.votos }}
                      </v-chip>
                      {{ option.text }}
                    </p>
                  </div>
                  <div v-if="publi.winner != ''">
                    <v-alert dense prominent type="success"
                      >El ganador de este sorteo fue {{ publi.winner }}
                    </v-alert>
                  </div>
                  <div v-else>
                    <div v-if="publi.participantes.length == 0">
                      <v-alert border="top" color="violeta lighten-2" dark>
                        Todavía no hay participantes. ¡Promocioná tu sorteo
                        desde la radio!
                      </v-alert>
                    </div>
                    <div v-else>
                      <v-btn
                        @click="sortear(publi)"
                        x-large
                        class="btn-all"
                        color="amarillo"
                        >Sortear</v-btn
                      >
                    </div>
                  </div>
                </v-container>
              </div>
            </div>
          </div>
          <div v-if="current == 'mensajes'" class="publicaciones all-mensajes">
            <v-card v-for="msg in mensajes" :key="msg._id" class="message-card">
              <v-card-title class="post-title msg-name">
                <!-- > <v-chip style="margin:0" color="green" text-color="white">
                    <v-avatar left class="green darken-4 mamma">{{msg.fromName.charAt(0)}}</v-avatar>
                  <span style="color:white"></span></v-chip>  -->
                {{ msg.fromName
                }}<span class="grey--text from-mail">{{
                  msg.fromMail
                }}</span></v-card-title
              >

              <v-card-text style="padding-bottom: 0">
                <div class="hora-section">
                  {{ formatDate(msg.hora) }}
                  <v-chip
                    class="ma-2"
                    color="green"
                    text-color="white"
                    v-if="msg.leido"
                  >
                    <v-avatar left class="green darken-4"> OK </v-avatar>
                    Leido
                  </v-chip>
                </div>
                <p class="post-title">
                  {{ msg.asunto }} - <span>{{ msg.contenido }}</span>
                </p>
              </v-card-text>
              <v-divider class="mx-4" v-if="msg.leido"></v-divider>
              <v-card-actions class="leido" v-if="!msg.leido">
                <v-btn color="deep-purple lighten-2" text @click="marcar(msg)">
                  Marcar como leído
                </v-btn>
              </v-card-actions>
            </v-card>
          </div>
        </div>
      </v-card>
      <v-card class="flex-1">
        <div class="chat-online">
          <ul v-if="listMessages.length > 0">
            <li
              v-for="msg in listMessages"
              :key="msg._id"
              :class="msg.sender ? 'is-admin' : getClass(msg)"
              v-show="msg.radio == radio._id"
            >
              <span>{{ msg.from.charAt(0).toUpperCase() }}</span>
              <p>
                <strong
                  >{{ msg.from.charAt(0).toUpperCase()
                  }}{{ msg.from.split("@")[0] }}:</strong
                >
                {{ msg.message }}
              </p>
            </li>
            <div id="scrollable"></div>
          </ul>

          <form @submit.prevent="sendThisMessage" class="enviar-chat">
            <input
              v-model="chatMsg"
              type="text"
              placeholder="Escribí tu mensaje"
              maxlength="200"
            />

            <v-btn
              class="btn-all"
              color="amarillo"
              :disabled="!chatMsg"
              type="submit"
            >
              Enviar
            </v-btn>
          </form>
        </div>
      </v-card>
    </div>
  </div>
</template>
<style lang="scss">
.chat-online {
  padding: 3px;
  background: #6c65aa;
  .enviar-chat {
    border-top: 10px solid #6c65aa;
    display: flex;
    input {
      flex: 2;
      background: whitesmoke;
      padding: 3px;
    }
  }
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    
    min-height: 885px;

    height: 30px;
    overflow: scroll;
    background: white;
  }
  li {
    display: flex;
    align-items: flex-start;
    margin-top: 5px;
  }
  li > p {
    color: black;
    border-radius: 0 12px 12px 12px;
    padding: 10px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  .verde-clar p {
    background: #73bfb8;
  }
  .verde-clar span {
    background: #73bfb8;
  }
  .naranj p {
    background: #ed7457;
  }
  .naranj span {
    background: #ed7457;
  }
  .amarill p {
    background: #ffdd4b;
  }
  .amarill span {
    background: #ffdd4b;
  }
  .verd p {
    background: #2a9c8f;
  }
  .verd span {
    background: #2a9c8f;
  }

  li > span {
    color: white;
    font-family: "Barlow-Regular";
    margin-right: 10px;
    border-radius: 50%;
    padding: 10px 16px;
    margin-left: 10px;
  }
  .is-admin {
    flex-direction: row-reverse;
  }
  .is-admin > span {
    background: #6c65aa;
  }
  .is-admin > p {
    color: #6c65aa;
    border-radius: 12px 0 12px 12px;
    background: rgba(108, 101, 170, 0.2);
    padding: 10px;
    margin-left: 25px;
  }
}
.msg-name {
  padding-bottom: 0 !important;
  font-size: large !important;
  span {
  }
}
.mamma {
  color: white !important;
}
.from-mail {
  margin-left: 8px;
}
.v-chip {
  margin: 0 !important;
  margin-right: 6px !important;
}
.leido {
  display: flex;
  justify-content: space-between;
  align-content: center;
}
.btn-all-peque {
  padding: 0 !important;
  span {
    color: #6c65aa;
    margin: 0;
    font-family: "Arista";
    font-weight: lighter;
    padding: 0;
    font-size: 0.8em;
  }
}
.hora-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.message-card {
  margin-bottom: 10px;
}

.all-mensajes {
  background: #6c65aa !important;
}

.v-list .v-list-item .v-list-item__title {
  font-family: Arista !important;
  color: white;
  text-transform: uppercase;
  font-size: 1em !important;
  font-weight: lighter !important;
}
.flex-1 {
  flex: 1;
}
.lara-item {
  padding: 20px;
  h3 {
    color: #ffdd4b;
    border-bottom: 2px solid white;
  }
  .item-desc {
    color: white;
    margin: 0;
  }
}

.empty {
  padding: 50px;
  text-align: center;
  font-family: Barlow !important;
  color: white;
  font-weight: lighter !important;
  span {
    display: block;
    color: #ffdd4b;
  }
}
.post-title {
  font-family: Barlow;
  font-weight: bolder;
  color: #6c65aa;
  margin: 0;
  span {
    color: #ed7457;
  }
  margin-bottom: 10px;
}
.publicaciones {
  background-color: white;
  border: 10px solid #6c65aa;

  .publi-post {
    border-bottom: 10px solid #6c65aa;
    img {
      width: 100%;
    }
    .publi-content {
      padding: 10px;
      .post-title {
        font-family: Barlow;
        font-weight: bolder;
        color: #6c65aa;
        margin: 0;
        span {
          color: #ed7457;
        }
      }
      .post-date {
      }
    }
  }
  .publi-sorteo {
    font-family: Barlow;
    font-weight: bolder;
    border-bottom: 10px solid #6c65aa;

    span {
      display: block;
      color: #6c65aa;
      margin: 0;
      font-family: "Arista";
      font-weight: lighter;
      font-size: medium;
      padding: 14px 0;
    }
    .option-label {
      color: #6c65aa;
      font-family: "Arista";
      font-weight: lighter;
      font-size: medium;
    }
  }
}
.padding-v-card-form {
  padding-top: 60px;
}

.tab-item-title {
  font-family: Arista !important;
  color: white;
}
.radio-description {
  background-color: #73bfb8;
  display: flex;
  align-items: center;
  img {
    padding: 5px 10px;
  }
  h2 {
    color: white;
    font-family: "Barlow";
    font-size: inherit;
  }
  h1 {
    color: #ffdd4b;
    font-family: "Arista";
    font-weight: lighter;
  }
}

.current {
  background-color: #6c65aa !important;
}

.sec-title {
  color: white;
  font-family: "Barlow";
  background-color: #6c65aa;
  font-family: "Arista";
  font-weight: lighter;
  padding: 16px 0 0 16px;
}
.unprograma-tarjeta {
  background-color: #6c65aa;
  border-radius: none !important;
  box-shadow: 0 !important;
  .unprograma {
    padding: 15px;
    .unprograma-title {
      display: flex;
      justify-content: space-between;
      h3 {
        font-family: Barlow;
        color: #ffdd4b;
        text-transform: uppercase;
        font-size: 1em;
      }
      p {
        font-family: Barlow;
        color: white;
        text-transform: uppercase;
        margin: 0;
        font-weight: bold;
      }
    }
    .programa-desc {
      font-family: Barlow;
      color: white;
      font-weight: lighter;
      text-transform: uppercase;
      margin: 0;
      font-size: 0.8em;
    }
  }
}
.header {
  background: url("https://www.vozalia.com/wp-content/uploads/2020/10/radio-online-casi-gratis.jpg");
  width: 100%;
}
.big-father {
  height: 100%;
}
.drawer-cont {
  height: 100%;
  display: flex;
}

.drawer-card {
  height: 100%;
}

@media (min-width: 768px) {
  .drawer-cont {
    height: 100%;
  }
}

.v-navigation-drawer__content {
  background: #2a9c8f;
}
</style>

<script>
import axios from "axios";
import _ from "lodash";
import Vue from "vue";
import { db } from "@/firebase";

let nueva = {};
export default {
  name: "HomeRadio",
  data() {
    return {
      loading: false,
      radio: {},
      current: "",
      dias: ["LUN", "MAR", "MIE", "JUE", "VIE", "SAB", "DOM"],
      dia: null,
      error: null,
      programacion: {
        lun: [],
        mar: [],
        mie: [],
        jue: [],
        vie: [],
        sab: [],
        dom: [],
      },
      editHorario: false,
      horarioEditing: {},
      horarioDeleting: {},
      horarioValid: true,
      rules: [(v) => !!v || "Campo requerido"],
      imgRules: [
        (value) =>
          !value ||
          value.size < 2000000 ||
          "La imagen debe pesar menos de 2 Mb",
      ],
      radioEditing: {},
      editRadioValid: false,
      horarioModificado: false,
      seguroBorrar: false,
      newHorarioValid: false,
      newHorario: {},
      publicaciones: [],
      postDeleting: {},
      newPublicacion: {},
      newPublicacionValid: false,
      newSorteo: {},
      newSorteoValid: false,
      mensajes: [],
      estaRadio: localStorage.identificador,
      listMessages: [],
      chatMsg: "",
    };
  },
  mounted() {
    // this.$store.dispatch("logout");
    if (
      localStorage.identificador == null ||
      localStorage.identificador == undefined
    ) {
      this.$router.push("/login");
    } else {
      this.updateRadio();
      this.getMessages();
      this.current = "la-radio";
    }
  },
  watch: {
    current: function () {
      if (this.current == "mensajes") {
        this.getMessages();
      }
    },
  },
  methods: {
    sendThisMessage() {
      const ete = localStorage.email;
      const messageInfo = {
        from:
          ete.split("@")[0].slice(1) + " - " + this.radio.name,
        radio: this.radio._id,
        message: this.chatMsg,
        createdAt: Date.now(),
      };
      db.collection("messages")
        .add(messageInfo)
        .then(() => {
          this.chatMsg = "";
          this.scrollToBottom();
        });
    },
    getClass(a) {
      const hola = a.createdAt % 10;
      if (hola < 2) {
        return "verde-clar";
      } else if (hola < 5) {
        return "naranj";
      } else if (hola < 7) {
        return "amarill";
      } else return "verd";
    },
    marcar(msg) {
      axios
        .put(this.BASE_URL + "api/mensajes/marcar/" + msg._id)
        .then((res) => {
          msg.leido = true;
        });
    },
    getMessages() {
      console.log("getmess");
      axios
        .get(this.BASE_URL + "api/mensajes/" + localStorage.identificador)
        .then((res) => {
          this.mensajes = res.data;
          console.log(this.mensajes);
        });
    },
    formatDate(dat) {
      var d = new Date(dat),
        dformat =
          [d.getDate(), d.getMonth() + 1, d.getFullYear()].join("/") +
          " " +
          [d.getHours(), d.getMinutes()].join(":");
      return dformat;
    },
    openNewSorteo() {
      this.newSorteo = {
        title: "",
        desc: "",
        options: [],
      };
    },
    updateImage(e) {
      console.log(e);

      if (e) {
        let imageFile = e;
        var reader = new FileReader();
        reader.onload = function (e) {
          var img = document.createElement("img");
          img.onload = function (event) {
            // Dynamically create a canvas element
            var canvas = document.createElement("canvas");

            // var canvas = document.getElementById("canvas");
            var ctx = canvas.getContext("2d");
            var MAX_WIDTH = 100;
            var MAX_HEIGHT = 100;

            var width = img.width;
            var height = img.height;

            // Change the resizing logic
            if (width > height) {
              if (width > MAX_WIDTH) {
                height = height * (MAX_WIDTH / width);
                width = MAX_WIDTH;
              }
            } else {
              if (height > MAX_HEIGHT) {
                width = width * (MAX_HEIGHT / height);
                height = MAX_HEIGHT;
              }
            }

            // Actual resizing
            ctx.drawImage(img, 0, 0, width, height);

            // Show resized image in preview element
            var dataurl = canvas.toDataURL(imageFile.type);
            document.getElementById("preview").src = dataurl;

            // console.log(dataurl);
          };
          img.src = e.target.result;
        };
        reader.readAsDataURL(imageFile);
        // reader.readAsDataURL(e.target.result);
        reader.onload = function () {
          let archivo = reader.result;
          nueva = {
            img: archivo,
            cont: "Prueba imagen",
          };
        };
      }
    },
    openNewPost() {
      nueva = {};
      this.newPublicacion = {};
    },
    createPublicacion() {
      nueva.cont = this.newPublicacion.cont;

      axios
        .post(
          this.BASE_URL +
            "api/radios/publicacion/" +
            localStorage.identificador,
          nueva
        )
        .then((r) => {
          console.log(r);
          this.updateRadio();
        });
    },
    updateRadio() {
      axios
        .get(this.BASE_URL + "api/radios/" + localStorage.identificador)
        .then((res) => {
          this.radio = res.data;
          this.programacion.lun = this.radio.lun;
          this.programacion.mar = this.radio.mar;
          this.programacion.mie = this.radio.mie;
          this.programacion.jue = this.radio.jue;
          this.programacion.vie = this.radio.vie;
          this.programacion.sab = this.radio.sab;
          this.programacion.dom = this.radio.dom;
          this.publicaciones = this.radio.publicaciones;
          this.sorteos = this.radio.sorteos;
          db.collection("messages")
            .orderBy("createdAt")
            .onSnapshot((snap) => {
              this.listMessages = snap.docs.map((doc) => {
                const dat = doc.data();
               
                  dat.sender = dat.from == localStorage.email;
                  return dat;
                
              });

              setTimeout(() => {
                this.scrollToBottom();
                console.log("ok");
              }, 1000);
            });
        });
    },
    orderedPosts: function () {
      return _.orderBy(this.publicaciones, "_id", "desc");
    },
    scrollToBottom() {
      document.getElementById("scrollable").scrollIntoView();
    },
    orderedSorteos: function () {
      return _.orderBy(this.sorteos, "_id", "desc");
    },
    goOut() {
      localStorage.clear();
      this.$router.push("/login");
    },
    setNav(nav) {
      this.current = nav;
    },
    openBorrarPost(p) {
      this.postDeleting = p;
    },
    openNewHorario() {
      this.newHorario = {
        name: "",
        desc: "",
        time: "",
      };
    },
    openEditHorario(pr) {
      this.horarioEditing = {
        _id: pr._id,
        name: pr.name,
        desc: pr.desc,
        time: pr.time,
      };
      this.horarioModificado = false;
      this.editHorario = true;
    },
    openEditRadio(pr) {
      this.radioEditing = {
        name: this.radio.name,
        dial: this.radio.dial,
        twitter: this.radio.twitter,
        facebook: this.radio.facebook,
        ig: this.radio.ig,
        youtube: this.radio.youtube,
      };
      this.radioModificado = false;
    },
    openBorrarHorario(pr) {
      this.horarioDeleting = {
        _id: pr._id,
        name: pr.name,
        desc: pr.desc,
        time: pr.time,
      };
      this.seguroBorrar = true;
    },
    modifyHorario(horarioId) {
      const newDays = this.getDayList();
      const paramDays = newDays.map((h) => {
        if (h._id == horarioId) {
          h.name = this.horarioEditing.name;
          h.desc = this.horarioEditing.desc;
          h.time = this.horarioEditing.time;
        }
        return h;
      });

      const params = {
        lun: this.programacion.lun,
        mar: this.programacion.mar,
        mie: this.programacion.mie,
        jue: this.programacion.jue,
        vie: this.programacion.vie,
        sab: this.programacion.sab,
        dom: this.programacion.dom,
      };

      axios
        .put(this.BASE_URL + "api/radios/" + localStorage.identificador, params)
        .then((r) => {
          console.log(r);
          this.updateRadio();
        });
    },
    editRadio() {
      const params = {
        name: this.radioEditing.name,
        dial: this.radioEditing.dial,
        twitter:
          this.radioEditing.twitter == "" ? null : this.radioEditing.twitter,
        facebook:
          this.radioEditing.facebook == "" ? null : this.radioEditing.facebook,
        ig: this.radioEditing.ig == "" ? null : this.radioEditing.ig,
        youtube:
          this.radioEditing.youtube == "" ? null : this.radioEditing.youtube,
      };

      axios
        .put(this.BASE_URL + "api/radios/" + localStorage.identificador, params)
        .then((r) => {
          console.log(r);
          this.updateRadio();
        });
    },
    createHorario() {
      const newDays = this.getDayList();
      newDays.push(this.newHorario);

      const params = {
        lun: this.dia == 0 ? newDays : this.programacion.lun,
        mar: this.dia == 1 ? newDays : this.programacion.mar,
        mie: this.dia == 2 ? newDays : this.programacion.mie,
        jue: this.dia == 3 ? newDays : this.programacion.jue,
        vie: this.dia == 4 ? newDays : this.programacion.vie,
        sab: this.dia == 5 ? newDays : this.programacion.sab,
        dom: this.dia == 6 ? newDays : this.programacion.dom,
      };

      axios
        .put(this.BASE_URL + "api/radios/" + localStorage.identificador, params)
        .then((r) => {
          console.log(r);
          this.updateRadio();
        });
    },
    borrarHorario(horarioId) {
      const newDays = this.getDayList();
      const paramDays = newDays.filter((h) => h._id != horarioId);

      const params = {
        lun: this.dia == 0 ? paramDays : this.programacion.lun,
        mar: this.dia == 1 ? paramDays : this.programacion.mar,
        mie: this.dia == 2 ? paramDays : this.programacion.mie,
        jue: this.dia == 3 ? paramDays : this.programacion.jue,
        vie: this.dia == 4 ? paramDays : this.programacion.vie,
        sab: this.dia == 5 ? paramDays : this.programacion.sab,
        dom: this.dia == 6 ? paramDays : this.programacion.dom,
      };

      axios
        .put(this.BASE_URL + "api/radios/" + localStorage.identificador, params)
        .then((r) => {
          console.log(r);
          this.updateRadio();
        });
    },
    borrarPubli() {
      axios
        .delete(
          this.BASE_URL +
            "api/radios/publicacion/" +
            localStorage.identificador +
            "/" +
            this.postDeleting._id
        )
        .then((r) => {
          console.log(r);
          this.updateRadio();
        });
    },
    closeEditingHorario() {
      this.horarioValid = true;
      this.horarioModificado = false;
    },
    closeBorrarHorario() {
      this.seguroBorrar = false;
    },
    getSectionTitle() {
      if (this.current == "") {
        return "";
      } else if (this.current == "la-radio") {
        return "La Radio";
      } else if (this.current == "publicaciones") {
        return "Publicaciones";
      } else if (this.current == "sorteos") {
        return "Sorteos";
      } else if (this.current == "horarios") {
        return "Horarios";
      } else if (this.current == "mensajes") {
        return "Mensajes recibidos";
      }
    },
    getDayList() {
      if (this.dia == null) {
        return [];
      } else if (this.dia == 0) {
        return this.programacion.lun;
      } else if (this.dia == 1) {
        return this.programacion.mar;
      } else if (this.dia == 2) {
        return this.programacion.mie;
      } else if (this.dia == 3) {
        return this.programacion.jue;
      } else if (this.dia == 4) {
        return this.programacion.vie;
      } else if (this.dia == 5) {
        return this.programacion.sab;
      } else return this.programacion.dom;
    },
    goHome() {
      this.$router.push("/");
    },
    sortear(publi) {
      const idx = this.sorteos.findIndex((x) => x._id == publi._id);
      this.sorteos[idx].loading = true;
      Vue.set(this.sorteos, idx, this.sorteos[idx]);

      axios
        .put(
          this.BASE_URL + "api/radios/sortear/" + localStorage.identificador,
          {
            sorteoId: publi._id,
          }
        )
        .then(() => {})
        .finally(() => {
          this.sorteos[idx].loading = false;
          Vue.set(this.sorteos, idx, this.sorteos[idx]);
          this.updateRadio();
        });
    },
    addOpt(opt) {
      let nOpt = {
        text: opt,
        votos: 0,
      };
      this.newSorteo.options.push(nOpt);
      this.newSorteo.newopt = "";
    },
    createSorteo() {
      console.log("KE PASA");
      let d = new Date();
      var datestring =
        ("0" + d.getDate()).slice(-2) +
        "-" +
        ("0" + (d.getMonth() + 1)).slice(-2) +
        "-" +
        d.getFullYear() +
        " " +
        ("0" + d.getHours()).slice(-2) +
        ":" +
        ("0" + d.getMinutes()).slice(-2);

      let sorteo = {
        winner: "",
        date: datestring,
        title: this.newSorteo.title,
        text: this.newSorteo.text,
        options: this.newSorteo.options,
      };

      this.sorteos.push(sorteo);
      let params = {
        sorteos: this.sorteos,
      };

      axios
        .put(this.BASE_URL + "api/radios/" + localStorage.identificador, params)
        .then((r) => {
          console.log(r);
          this.updateRadio();
        });
    },
  },
};
</script>
