<template>
  <div fill-height align-center class="div-cont">
    <v-app-bar color="verde">
      <v-img src="@/assets/logo.png" max-width="50" max-height="50"></v-img>
      <v-spacer></v-spacer>
      <v-btn class="btn-all" color="amarillo" @click="goHome">
        Volver al Home
      </v-btn>
    </v-app-bar>

    <v-layout fill-height align-center class="all-login">
      <v-flex xs12 sm8 md6 lg5 xl4 class="form-content">
        <v-img
          src="@/assets/logo.png"
          max-height="160"
          class="mb-16"
          contain
        ></v-img>
        <v-layout justify-center>
          <v-progress-circular
            :size="50"
            color="primary"
            indeterminate
            v-show="loading"
            justify-space-between
          ></v-progress-circular>
        </v-layout>

        <v-alert
          v-if="error"
          border="top"
          color="red lighten-2"
          dark
          v-show="!loading"
        >
          {{ error }}
        </v-alert>
        <v-form
          ref="form"
          v-model="valid"
          lazy-validation
          class="formlogin"
          v-show="!loading"
        >
          <v-card-text>
            <v-text-field
              v-model="user.email"
              :rules="emailRules"
              
              label="Tu correo"
              outlined
               color="violeta"
                class="naranja-text"
              autocomplete="username"
            ></v-text-field>
            <v-text-field
              v-model="user.password"
              label="Contraseña"
              type="password"
              :rules="passRules"
               outlined
               color="violeta"
                class="naranja-text"
            ></v-text-field>
             <p class="go-register" >
            No tengo cuenta <span @click="goRegister">y ya recibí mi código de registro </span>
          </p>
          </v-card-text>
          <v-card-text>
           
            <v-layout justify-space-around>
              <v-btn
                @click="executeLogin"
                :disabled="!valid"
                x-large
                block
                class="btn-all"
                color="amarillo"
              >
                Ingresar
              </v-btn>
            </v-layout>
          </v-card-text>
        </v-form>
      </v-flex>
    </v-layout>
  </div>
</template>

<script>
import axios from "axios";
export default {
  mounted() {
    // this.$store.dispatch("logout");
    localStorage.clear();
  },
  data() {
    return {
      loading: false,
      user: {
        email: null,
        password: null,
      },
      error: null,
      valid: false,
      emailRules: [
        (v) => !!v || "Debés ingresar tu email",
        (v) => /.+@.+\..+/.test(v) || "El correo electrónico debe ser válido",
      ],
      passRules: [
        (v) => !!v || "Debes ingresar una contraseña",
        (v) =>
          (v && v.length > 5) ||
          "La contraseña debe contener 5 o más caracteres",
      ],
    };
  },
  methods: {
    async executeLogin() {
      this.loading = true;
      this.error = null;
      axios
        .post(this.BASE_URL + "api/users/login", {
          email: this.user.email,
          password: this.user.password,
        })
        .then((res) => {
          // localStorage.setitem("token", res.data.token);
          localStorage.token = res.data.token;
          localStorage.email = this.user.email;
          localStorage.tipo = res.data.tipo.tipo;

          if (localStorage.tipo == "admin") {
            this.$router.push("/panel");
          } else if (localStorage.tipo == "radio") {
            console.log(res.data);
            localStorage.identificador = res.data.tipo.radio;
            this.$router.push("/homeradio");
          } else {
             this.error = "Nivel de usuario no permitido";
          }
        })
        .catch((err) => {
          this.error = err.response.data.message;
        })
        .finally(() => {
          this.loading = false;
        });

      // // this.error = null;
      // // this.$store.dispatch("login", this.user).then((response) => {
      // //   console.log(response);
      // //   if (response.status == 200) {
      // //     this.$router.push("/chat");
      // //     this.error = null;
      // //   } else {
      // //     this.error = response.error;
      // //   }
      // // });
    },
    goHome() {
      this.$router.push("/");
    },
    goRegister(){
       this.$router.push("/register");
    }
  },
  setup() {},
};
</script>
<style lang="scss" scoped>
.all-login {
  background: #73bfb8;
}
.div-cont {
  height: 100%;
}
.form-content {
  margin: auto;
  background-color: #f2f2f2;
}
.custom-placeholer-color input,
.custom-label-color input {
  color: white !important;
}

.go-register {
  font-family: Barlow;
  color: rgb(115, 130, 137);
  font-size: 15px;
  
  text-align: center;
  span {
    cursor: pointer;
    font-weight: bold;
  }
}
</style>