<template>
  <div style="height: 100%">
    <v-app-bar color="verde">
      <v-img src="@/assets/logo.png" max-width="50" max-height="50"></v-img>

      <v-toolbar-title>Panel Administrador - Radios</v-toolbar-title>
      <v-spacer></v-spacer>

      <v-row justify="end">
        <v-col cols="auto">
          <v-dialog transition="dialog-bottom-transition" max-width="600">
            <!-- <template v-slot:activator="{ on, attrs }">
          <v-btn
            color="primary"
            v-bind="attrs"
            v-on="on"
          >From the bottom</v-btn>
        </template> -->
            <template v-slot:default="dialog">
              <v-card>
                <v-toolbar color="primary" dark
                  >Opening from the bottom</v-toolbar
                >
                <v-card-text>
                  <div class="text-h2 pa-12">Hello world!</div>
                </v-card-text>
                <v-card-actions class="justify-end">
                  <v-btn text @click="dialog.value = false">Close</v-btn>
                </v-card-actions>
              </v-card>
            </template>
          </v-dialog>
        </v-col>

        <v-col cols="auto">
          <v-dialog transition="dialog-top-transition" max-width="600">
            <template v-slot:activator="{ on, attrs }">
              <v-btn class="btn-all" color="amarillo" v-bind="attrs" v-on="on"
                ><span color="amarillo">Nueva Radio</span></v-btn
              >
            </template>
            <template v-slot:default="dialog">
              <v-card>
                <v-toolbar color="violeta" dark>Agregar Nueva Radio</v-toolbar>
                <v-card-text>
                  <div class="mensajes">
                    <v-layout justify-center class="todo" v-show="loading">
                      <v-progress-circular
                        :size="50"
                        color="violeta"
                        indeterminate
                        justify-space-between
                      ></v-progress-circular>
                    </v-layout>

                    <v-alert
                      v-if="error"
                      border="top"
                      color="red lighten-2"
                      dark
                      v-show="!loading"
                    >
                      {{ error }}
                    </v-alert>
                    <v-form
                      ref="form"
                      v-model="valid"
                      class="formlogin"
                      v-show="!loading"
                    >
                      <v-card-text>
                        <v-text-field
                          v-model="rad.dial"
                          :rules="rules"
                          label="Dial *"
                          placeholder="FM 105.8"
                          outlined
                          color="violeta"
                          class="naranja-text"
                        ></v-text-field>
                        <v-text-field
                          v-model="rad.name"
                          :rules="rules"
                          label="Nombre *"
                          placeholder="Radio Colonia"
                          outlined
                          color="violeta"
                          class="naranja-text"
                        ></v-text-field>
                        <v-text-field
                          v-model="rad.URL"
                          :rules="rules"
                          label="URL transmisión"
                          outlined
                          color="violeta"
                          class="naranja-text"
                        ></v-text-field>
                        <v-text-field
                          v-model="rad.img"
                          :rules="rules"
                          label="Logo*"
                          placeholder="La URL del logo"
                          outlined
                          color="violeta"
                          class="naranja-text"
                        ></v-text-field>
                        <v-text-field
                          v-model="rad.twitter"
                          label="Usuario Twitter"
                          placeholder="futurock_ok"
                          outlined
                          color="violeta"
                          class="naranja-text"
                        ></v-text-field>
                        <v-text-field
                          v-model="rad.ig"
                          label="Usuario Instagram"
                          placeholder="futurock_ok"
                          outlined
                          color="violeta"
                          class="naranja-text"
                        ></v-text-field>
                        <v-text-field
                          v-model="rad.facebook"
                          label="Usuario Facebook"
                          placeholder="futurock_ok"
                          outlined
                          color="violeta"
                          class="naranja-text"
                        ></v-text-field>
                        <v-text-field
                          v-model="rad.youtube"
                          label="Usuario YouTube"
                          placeholder="futurock_ok"
                          outlined
                          color="violeta"
                          class="naranja-text"
                        ></v-text-field>
                      </v-card-text>
                      <v-card-text>
                        <v-layout justify-space-around>
                          <v-btn
                            @click="dialog.value = false; createRadio()"
                            :disabled="!valid"
                            x-large
                            block
                            class="btn-all"
                            color="amarillo"
                            >Enviar</v-btn
                          >
                        </v-layout>
                      </v-card-text>
                    </v-form>
                  </div>
                </v-card-text>
                <v-card-actions class="justify-end">
                  <v-btn text @click="dialog.value = false">Close</v-btn>
                </v-card-actions>
              </v-card>
            </template>
          </v-dialog>
        </v-col>
      </v-row>
      <v-btn class="btn-all ml-4" color="amarillo" @click="goLogin">
        Salir
      </v-btn>
    </v-app-bar>
    <section style="display: flex; flex-wrap: wrap">
      <div v-for="radio in radios" :key="radio._id" style="margin: 10px">
        <v-card
          style="margin: 10px"
          class="mx-auto"
          width="300"
          elevation="2"
          shaped
          outlined
        >
          <v-card-text>
            <img :src="radio.img" :alt="radio.name" />
            <div>{{ radio.dial }}</div>
            <p class="text-h4 text--primary">
              {{ radio.name }}
            </p>

            <p style="margin: 0">Código de activación:</p>
            <div class="text--primary">
              {{ radio._id }}
            </div>
          </v-card-text>
          <v-card-actions>
            <v-btn text color="teal accent-4" @click="cambiarAct(radio)">
              {{ radio.active ? "Desactivar" : "activar" }}
            </v-btn>
          </v-card-actions>
          <!-- 
          <v-expand-transition>
            <v-card
              v-if="reveal"
              class="transition-fast-in-fast-out v-card--reveal"
              style="height: 100%"
            >
              <v-card-text class="pb-0">
                <p class="text-h4 text--primary">Origin</p>
                <p>
                  late 16th century (as a noun denoting a place where alms were
                  distributed): from medieval Latin eleemosynarius, from late
                  Latin eleemosyna ‘alms’, from Greek eleēmosunē ‘compassion’
                </p>
              </v-card-text>
              <v-card-actions class="pt-0">
                <v-btn text color="teal accent-4" @click="reveal = false">
                  Close
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-expand-transition> -->
        </v-card>
      </div>
    </section>
  </div>
</template>
<style lang="scss" scoped>
* {
  font-family: Arista !important;
}
img{
  max-height: 75px;
  min-height: 75px;
  height: 75px;
}
section {
  background: #73bfb8;
  padding: 20px;
  height: 100%;
}
.v-toolbar__title {
  font-family: Arista !important;
  font-weight: lighter !important;
  color: white !important;
}
.mensajes {
  padding: 20px;
  padding-bottom: 50px;

  background: white;
  .naranja-text input,
  .naranja-text textarea {
    color: #6c65aa !important;
  }
  fieldset {
    border: 2px solid #6c65aa;
  }
  .v-label--active {
    color: #ed7457 !important;
  }
}
.todo {
  padding: 116px;
}
</style>

<script>
import axios from "axios";
export default {
  name: "Home",
  data() {
    return {
      radios: [],
      loading: false,
      rad: {
        dial: null,
        name: null,
        URL: null,
        img: null,
        twitter: null,
        ig: null,
        facebook: null,
        youtube: null,
      },
      error: null,
      valid: false,
      rules: [(v) => !!v || "Campo requerido"],
    };
  },
  mounted() {
    if (localStorage.tipo != "admin") {
      this.$router.push("/login");
    } else {
      this.updateRadios();
    }
  },
  methods: {
    goLogin() {
      localStorage.clear();
      this.$router.push("/login");
    },
    cambiarAct(radio) {
      axios
        .put(this.BASE_URL + "api/radios/toggleAct/" + radio._id)
        .then((res) => {
          console.log(res);
          this.updateRadios();
        });
    },
    updateRadios() {
      axios.get(this.BASE_URL + "api/radios").then((res) => {
        this.radios = res.data;
      });
    },
    createRadio() {
      const params = {
        dial: this.rad.dial,
        name: this.rad.name,
        URL: this.rad.URL,
        img: this.rad.img,
        twitter:
          this.rad.twitter == null
            ? ""
            : "https://twitter.com/" + this.rad.twitter,
        ig:
          this.rad.ig == null ? "" : "https://www.instagram.com/" + this.rad.ig,
        facebook:
          this.rad.facebook == null
            ? ""
            : "https://www.facebook.com/" + this.rad.facebook,
        youtube: this.rad.youtube,
        active: true,
      };

      axios.post(this.BASE_URL + "api/radios", params).then((res) => {
         this.updateRadios();
      });
    },
  },
};
</script>
