<template>
  <v-app>
    <v-main>
      <router-view />
    </v-main>
  </v-app>
</template>
<style lang="scss">
@font-face {
  font-family: "Arista";
  src: local("Arista"), url(assets/fonts/Arista.ttf);
}
@font-face {
  font-family: "Barlow";
  src: local("Barlow"), url(assets/fonts/Barlow.ttf);
}

.btn-all span{
  color: #6c65aa;
  margin: 0;
  font-family: "Arista";
  font-weight: lighter;
  padding: 14px 0;
}
.btn-all-secondary span{
  color: white;
  margin: 0;
  font-family: "Arista";
  font-weight: lighter;
  padding: 14px 0;
}
</style>
<script>
export default {
  name: "App",

  data: () => ({
    //
  }),
};
</script>
